#IDE file
.idea
.fleet
.vscode

#Bot configs and other additional files
config.py
*_exmpl.py
temporaryfiles

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints