#Jetbrains file
.idea
.fleet

#Bot configs and other additional files
config.py
*_exmpl.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints